[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "~=2.28.1"
gsutil = "*"
docopt = "~=0.6"
termcolor = "*"

[requires]
python_version = "3.7"
