[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=8.3"

[packages]
requests = "~=2.31"
docopt = "~=0.6"
termcolor = "~=2.4"
pydantic = "~=2.8"
email-validator = "~=2.2"
click = "~=8.1"

[requires]
python_version = "3.11"

[scripts]
clean = 'bash -c "echo DELETING DATA FILES:; TODAY=$(date "+%Y-%m-%d") rm -v employee_data.json student_data.json student_pre_college_data.json patron_bulk_import.csv data/prox.csv ${TODAY}*.json 2>/dev/null"'
getdata = "python koha_patron/dl_int_json.py"
getpcdata = "python koha_patron/dl_int_json.py --pc"
test = "pytest workday test_prox_map.py"

[optional]
gsutil = "*"
