[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=8.2"

[packages]
requests = "~=2.31"
docopt = "~=0.6"
termcolor = "~=2.4"
pydantic = "~=2.7"
email-validator = "~=2.1"
click = "~=8.1"

[requires]
python_version = "3.11"

[scripts]
getdata = "python koha_patron/dl_int_json.py"
getpcdata = "python koha_patron/dl_int_json.py --pc"
test = "pytest koha_patron workday"

[optional]
gsutil = "*"
